version: '3.8'

services:
  backend:
    image: moonsoopark/mlrec-backend:latest
    build:
      context: .
      dockerfile: backend/Dockerfile
    ports:
      - "8000:8000"
    restart: always

  frontend:
    image: moonsoopark/mlrec-frontend:latest
    build:
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    environment:
      - NEXT_PUBLIC_API_URL=http://localhost:8000
    env_file:
      - ./frontend/.env.local
    restart: always
    depends_on:
      - backend
